<div class="admin___size bg-light mb-3">
    <div class="header__main_manage">
        <a class="btn btn-primary mt-2" href="/admin/insert" >Thêm khóa học
            <i class="fas fa-plus"></i>
        </a>
        <a class="btn btn-secondary mt-2" href="/admin/thanhvien" >Quản lí thành viên
            <i class="fas fa-users"></i>
        </a>
        <div class = "mt-2">
          <a class="btn btn-dark" href="/admin/thongbao">
          <i class="fas fa-bell" style="position: relative;">
            {{#if yesnew}}<span class="dot-onti"><small class="new-num"><b>{{news}}</b></small></span>{{/if}}</i>
          </a>
        </div>
        <h2 class="text-secondary text-right">Quản lí&nbsp;&nbsp;<i class=" fas fa-user-cog"></i></h2>
    </div>
    <div class="admin__table">
            {{#each courses}}
              <div class="admin__course">
                <div class="admin__name_course">
                    <p class="text-secondary"><i class="fas fa-users"></i><b> {{this.__v}}</b></p>
                    <h5 class="text-center"><b>{{this.name}}</b></h5>
                </div>
                <div class="admin__action_course">
                  <div class="btn__admin_action bg-danger">
                        <a href=""  data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course">
                              <i class="fas fa-trash"></i>
                        </a>
                  </div>
                  <div class="btn__admin_action bg-success">
                        <a href="admin/{{this._id}}/edit"><i class="fas fa-edit"></i></a>
                  </div>
                  <div class="btn__admin_action bg-secondary">
                        <a href="admin/{{this._id}}/addvideo"><i class="fas fa-plus"></i></a>
                  </div>
                </div>
              </div>
            {{/each}}
    </div>
</div>
<div id="delete-course" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="p-4 border-bottom text-center">
        <h5>Admin muốn xóa khóa học này không?</h5>
      </div>
      <div class="p-4">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" style="float: right;" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-course-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){

        var Courseid;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');

        $('#delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            Courseid = button.data('id');
    });
  
        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/admin/'+Courseid+'/delete';
            deleteForm.submit();
    }  
});
</script>