<div class="container main-chi-tiet">
    <div class="col-sm-6 bg-light m-auto p-4 ">
        <a class="text-info" href="/admin/thanhvien" style="font-size:20px;text-decoration:none">
                <i class="fas fa-angle-left "></i>&nbsp;&nbsp;&nbsp;&nbsp;Quản lí thành viên
        </a>
        <div class="mt-4 border-top bg-dark text-light p-4">
            <p><b class="text-info">Tên đăng nhập:</b>  {{info.user}}</p>
            <p><b class="text-info">Tên thành viên:</b>  {{info.fullName}}</p>
            <p><b class="text-info">Email:</b>  {{info.email}}</p>
            <p><b class="text-info">Thời gian tham gia:</b> <span id="age"></span> ngày</p>
            <p><b class="text-info">Số khóa học đang tham gia:</b> <span id="count"></span></p>
            <p><b class="text-danger">Tên khóa học: </b>
            {{#each info.learning}}
            <span class="num">{{this}},&nbsp;</span>
            {{/each}}
            </p>
            <p><b class="text-success">Thời gian tạo:</b><br>{{info.createdAt}}</p>
            <p><b class="text-warning">Lần cập nhật cuối:</b><br> {{info.updatedAt}}</p>
            <p><b class="text-warning"></b><br>{{{islocked info._id info.status}}}</p>
        </div>
            
    </div>
</div>
<script>
    var date = {{info.date}};
    var dateage = new Date(date);
    var datenow = new Date();
    var age = Math.round(Math.abs(datenow - dateage) /1000/60/60/24);
    document.getElementById('age').innerHTML = age;

    var num = document.getElementsByClassName('num');
    var count = document.getElementById('count');
    for (var i = 0; i < num.length; ){
            i++;
    }
    count.innerHTML = i;
</script>

