<div class="main__manage_member">
<div class="main_table__member">
    <a class="btn btn-primary mr-5" href="/admin"> Quản lí khóa học</a>
    <h4 class="text-secondary">Tổng thành viên: <i class="fas fa-users"></i> {{num}}</h4> 
    <div class="search text-right">
      <form  action="/admin/thanhvien/timkiem">
          <li>
            <input type="text" name="tukhoa" placeholder="Nhập tên thành viên ...">
            <button class="text-light"><i class="fas fa-search"></i></button>
          </li>
      </form>
    </div>
<div class="body__table__member mobile__show_member">
  <table>
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col"></th> 
        <th scope="col">Tên đăng nhập</th>
        <th scope="col">Họ & tên</th>
        <th scope="col">Chức vụ</th>
        <th scope="col">Email liên hệ</th>        
        <th scope="col"></th>     
        <th scope="col"></th>     
        <th scope="col"></th>     
      </tr>
    </thead>
    <tbody>

        {{#each user}}
      <tr>
        <th scope="row">{{sum @key 1}}</th>
        {{{isblocked this.status}}}
        {{{admin this.position this.user}}}
        {{{admin this.position this.fullName}}}
        {{{admin this.position this.position}}}
        {{{admin this.position this.email}}}
        {{{adminPs this.position this._id}}}
        <td><a class="btn btn-info" href="/admin/{{this._id}}/chitiet">Chi tiết</a></td>
        <td><a class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-user">Xóa</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table> 
</div>  
<div class="body__table__member mobile__show_member__">
  <table>
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên đăng nhập</th>   
        <th scope="col"></th>     
        <th scope="col"></th>     
      </tr>
    </thead>
    <tbody>
        {{#each user}}
      <tr>
        <th scope="row">{{sum @key 1}}</th>
        {{{admin this.position this.user}}}
        <td><a class="btn btn-info" href="/admin/{{this.user}}/chitiet">Chi tiết</a></td>
        <td><a class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-user">Xóa</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table> 
</div>  
{{{pagination num perpage page}}}
</div>
<div id="delete-user" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="p-4 border-bottom text-center">
        <h5 id="msgq" >Admin muốn xóa user này không?</h5>
        <div class="text-danger" id="msg" style="display: none;"><h5>Đang xóa <i class="fa fa-spinner fa-pulse fa-fw"></i></h5></div>
      </div>
      <div class="p-4" id="btnmsg">
        <button type="button" id="btn-delete-user" class="btn btn-danger" >Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" style="float: right;" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
</div>
<form name="delete-user-form" method="POST"></form>
<div class="form-position"></div>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var Userid;
        var tablemsg = document.getElementById('msg');
        var tablemsgq = document.getElementById('msgq');
        var btnmsg = document.getElementById('btnmsg');
        var deleteForm = document.forms['delete-user-form'];
        var btnDeleteUser = document.getElementById('btn-delete-user');

        $('#delete-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            Userid = button.data('id');
    });
        btnDeleteUser.onclick = function(){
            tablemsg.style.display = "block";
            tablemsgq.style.display = "none";
            btnmsg.style.display = "none";
            deleteForm.action = '/admin/'+Userid+'/deleteuser';
            deleteForm.submit();           
            
    }  
});

const formPst = document.querySelector('.form-position');
const btnPosition = document.querySelectorAll('.btn-pos');
if (btnPosition) {
  btnPosition.forEach(e=>{
    e.onclick=()=> {
      formPst.style.display = 'flex';
      formPst.innerHTML = `
        <form action="/admin/position-change/${e.dataset.id}" method="POST">
          <div class="title">Chọn quyền cho người dùng</div>
          <div class="select-position-group">
            <div class="select-position">
                <input hidden class="check-position" type="radio" id="adminLv1" name="position" value="adminLv1">
                <label class="btn btn-position-select" for="adminLv1">adminLv1</label>
            </div>
            <div class="select-position">
                <input hidden class="check-position" type="radio" id="collaborators" name="position" value="collaborators">
                <label class="btn btn-position-select" for="collaborators">collaborators</label>
            </div>
            <div class="select-position">
                <input hidden class="check-position" type="radio" id="user" name="position" value="user" checked>
                <label class="btn btn-position-select" for="user">user</label>
            </div>
          </div>
          <div class="btn-position text-right">
            <button class="btn btn-danger">Lưu</button>
            <div id="close" class="btn btn-secondary">Hủy</div>
          </div>
          </form>
      `
      document.querySelector('#close').onclick=()=>{
        formPst.style.display = 'none';
        formPst.innerHTML = '';
      }
    }
  })
}
</script>