<div class="container pt-2">
    <div class="thongbao-new">
        <div class="mb-3">
          <h3 class="text-danger" style="display: inline-block;"><i class="fas fa-envelope-open-text"></i> Hòm thư</h3>
          <h5 style="display: inline-block; margin-left: 20%">Số thành viên phản hồi: <span id="count"></span></h5>
        </div>
        {{#each news}} 
        <div class="tinnhan">
          <a href="/admin/{{this.name}}/read"><b>{{this.name}}</b> góp ý với <b class="text-danger">Course Online</b></a>
          <small class="read"><i class="fab fa-pinterest"></i> <b class="new-read">{{this.new}}</b></small>
          <small class="timeshow">{{{time this.date2}}}</small>
        </div>
        {{/each}}
    </div>
</div>
{{#if read}}
<div class="table-letters">
  <div class="show-letter">
    <a class="close close-letter" href="/admin/thongbao"><h2>&times;</h2></a>
    <div style="overflow: auto; height: 570px; width: 470px">
      {{#each readin.feedback}}
      <div class="letter">
      <span class="icon-letter"><i class="text-primary far fa-comment-dots"></i> 
      {{{time (lookup ../readin.date @index)}}}</span>
      {{this}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
<script>
  var read = document.getElementsByClassName('new-read');
  var color = document.getElementsByClassName('read');
    for ( var i = 0; i < read.length; i++){
        if (read[i].innerHTML !== 'chưa đọc') {
            color[i].style.color = '#ccc';
        }
        else {
            color[i].style.color = '#e9504b';
        }
    }
  document.getElementById('count').innerHTML = i;
</script>