<div class="mobile__thongbao__">
    <div class="thongbao-new">
        <div class="mb-3">
          <h3 class="text-danger" style="display: inline-block;"><i class="fas fa-envelope-open-text">
          </i> Hòm thư <span id="count"> {{num}}</span>
          </h3>
          <h5 style="display: inline-block; margin-left: 30%">Chưa đọc: {{newnum}}</h5>
        </div>
        <div><b>{{{count num}}}</b></div>
        {{#each news}}
        <div class="tinnhan">
          <div class="del-tinnhan">
            <a data-id="{{this._id}}" data-toggle="modal" data-target="#delete-user"><i class="fas fa-trash-alt"></i></a>
          </div>
          <a href="/admin/{{this.name}}/read"><b>{{this.name}}</b> góp ý với <b class="text-danger">Cnow</b></a>
          <small class="read"><i class="fab fa-pinterest"></i> <b class="new-read">{{this.new}}</b></small>
          <small class="timeshow">{{{time this.dateLast}}}</small>
        </div>
        {{/each}}
    </div>
</div>

<div id="delete-user" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="p-4 border-bottom text-center">
        <h5 id="msgq" >Admin muốn xóa góp ý này?</h5>
        <div class="text-danger" id="msg" style="display: none;"><h5>Đang xóa <i class="fa fa-spinner fa-pulse fa-fw"></i></h5></div>
      </div>
      <div class="p-4" id="btnmsg">
        <button type="button" id="btn-delete-user" class="btn btn-danger" >Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" style="float: right;" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-user-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var Userid;
        var tablemsg = document.getElementById('msg');
        var tablemsgq = document.getElementById('msgq');
        var btnmsg = document.getElementById('btnmsg');
        var deleteForm = document.forms['delete-user-form'];
        var btnDeleteUser = document.getElementById('btn-delete-user');

        $('#delete-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            Userid = button.data('id');
    });
        btnDeleteUser.onclick = function(){
            tablemsg.style.display = "block";
            tablemsgq.style.display = "none";
            btnmsg.style.display = "none";
            deleteForm.action = '/admin/'+Userid+'/deleteletter';
            deleteForm.submit();           
            
    }  
});
</script>

{{#if read}}
<div class="table-letters">
  <div class="show-letter">
    <a class="close close-letter" href="/admin/thongbao"><h2>&times;</h2></a>
    <div class="show__letter">
      {{#each readLetter.feedBack}}
      <div class="letter">
      <span class="icon-letter"><i class="text-primary far fa-comment-dots"></i> 
      {{{time (lookup ../readLetter.dateWrite @index)}}}</span>
      {{this}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
<script>
  var read = document.getElementsByClassName('new-read');
  var color = document.getElementsByClassName('read');
    for ( var i = 0; i < read.length; i++){
        if (read[i].innerHTML !== 'chưa đọc') {
            color[i].style.color = '#ccc';
        }
        else {
            color[i].style.color = '#e9504b';
        }
    }
  document.getElementById('count').innerHTML = i;
</script>