<div class="main__manage_member">
<div class="mt-4 p-3 container bg-light">
    <a class="btn btn-primary mb-2 mr-2" href="/admin" style="float: left;"> Quản lí khóa học</a>
    <a class="btn btn-primary mb-2 mr-5" href="/admin/thanhvien" style="float: left;">Hiển thị tất cả</a> 
    <div class="search text-right">
        <b class="text-danger" id="warning">{{warning}}</b>
      <form>
          <li><h4 class="text-secondary ">Số thành viên tìm thấy: <b id="nummember"></b></h4>
            <input id="tukhoa" type="text" name="tukhoa" placeholder="Nhập tên thành viên ...">
            <button id="submit" class="text-light"><i class="fas fa-search"></i></button>
          </li>
      </form>
    </div>
<table class="mt-2 col-sm-12 table table-dark mobile__show_member">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên đăng nhập</th>
      <th scope="col">Họ & tên</th>
      <th scope="col">Email liên hệ</th>      
      <th scope="col"></th>     
      <th scope="col"></th>     
    </tr>
  </thead>
  <tbody>
      {{#each user}}
    <tr class="num">
      <th scope="row">{{sum @key 1}}</th>
      {{{admin this.position this.user}}}
      {{{admin this.position this.fullName}}}
      {{{admin this.position this.email}}}
      <td><a class="btn btn-info" href="/admin/{{this.user}}/chitiet">Chi tiết</a></td>
      <td><a class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-user">Xóa</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<table class="mt-2 col-sm-12 table table-dark mobile__show_member__">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên đăng nhập</th>     
      <th scope="col"></th>     
      <th scope="col"></th>     
    </tr>
  </thead>
  <tbody>
      {{#each user}}
    <tr>
      <th scope="row">{{sum @key 1}}</th>
      {{{admin this.position this.user}}}
      <td><a class="btn btn-info" href="/admin/{{this.user}}/chitiet">Chi tiết</a></td>
      <td><a class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-user">Xóa</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="text-center text-secondary"><h4><b id="msg"></b></h4></div>  
</div>
<div id="delete-user" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="p-4 border-bottom text-center">
        <h5 id="msgq" >Admin muốn xóa user này không?</h5>
        <div class="text-danger" id="msg" style="display: none;"><h5>Đang xóa <i class="fa fa-spinner fa-pulse fa-fw"></i></h5></div>
      </div>
      <div class="p-4" id="btnmsg">
        <button type="button" id="btn-delete-user" class="btn btn-danger" >Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" style="float: right;" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
</div>
<form name="delete-user-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var Userid;
        var tablemsg = document.getElementById('msg');
        var tablemsgq = document.getElementById('msgq');
        var btnmsg = document.getElementById('btnmsg');
        var deleteForm = document.forms['delete-user-form'];
        var btnDeleteUser = document.getElementById('btn-delete-user');

        $('#delete-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            Userid = button.data('id');
    });
        btnDeleteUser.onclick = function(){
            tablemsg.style.display = "block";
            tablemsgq.style.display = "none";
            btnmsg.style.display = "none";
            deleteForm.action = '/admin/'+Userid+'/deleteuser';
            deleteForm.submit();           
            
    }  
});

var tukhoa = document.getElementById('tukhoa');
var btnSub = document.getElementById('submit');
var count = document.getElementsByClassName('num');
var numMember = count.length;
document.getElementById('nummember').innerHTML = numMember;
if (numMember == 0){
    document.getElementById('msg').innerHTML = 'Không tìm thấy thành viên!'
}
if (document.getElementById('warning').innerHTML !==""){
    setInterval(function(){ 
                    document.getElementById('warning').innerHTML = "";
                }, 5000);
}
</script>