
<div class="msg-admin-main">
    <div id="msg-admin" class="msg-admin">
        <h4 id="title-admin" class="title-admin">I'm HeHe!</h4>
    </div>
    <div id="screen-msg" class="screen-msg screen-msg-none">
        <div class="header-screen-msg">
            <span class="text-light" id="tags-title"><b>Bot chat HeHe</b></span>
            <span class="text-light" title="Đónng cửa sổ chat" id="close-msg-admin"><h1>&times;</h1></span>
        </div>
        <div id="body-screen-msg" class="body-screen-msg">
            {{#if cast}}
            <div class="admin-feed">
                <img src="/img/bot.jpg" alt="HeHe">
                <span></span>
                Chào mừng <b>{{name}}</b> đã tới với <b class="text-danger">Course Online</b>.
                Tôi có thể giúp bạn tìm hiểu về:
                Khóa học, học phí, các ngôn ngữ xây dựng nên <b class="text-danger">Course Online</b>,...
                <small id="time__now"></small>
            </div>
            {{else}}
            <div class="admin-feed">
                <img src="/img/bot.jpg" alt="HeHe">
                <span></span>
                    Chào bạn tôi là <b id="hehe" style="cursor: pointer;">HeHe</b> tôi được lập trình để trả lời 1 số câu hỏi của bạn. <br>
                    Hãy <a href="/login"> ĐĂNG NHẬP </a>để bắt đầu học tập tại <b class="text-danger">Course Online</b> <br>
                <small id="time__now"></small>
            </div>
            {{/if}}
        </div>
        <div class="foot-screen-msg">
            <input id="enter-msg" type="text" placeholder="Nhập nội dung..." autocomplete = "off">
            <div class="laugh">
                <span><i class="fas fa-paperclip"></i><span>Tệp đính kèm</span></span>
                <span><i class="far fa-laugh"></i><span>Biểu cảm</span></span>
            </div>
        </div>
    </div>
</div>
<script>
    var screenMsg = document.getElementById('screen-msg');
    var bodyMsg = document.getElementById('body-screen-msg');
    var enterMsg = document.getElementById('enter-msg');
    var Admin = document.getElementById('msg-admin');
    var closeScreen = document.getElementById('close-msg-admin');
    var Datenew = new Date();
    var countEnter = 0; 
    document.getElementById('time__now').innerHTML = Datenew.getHours() + ":" + Datenew.getMinutes();
    {{#if cast}}
    {{else}}
    document.getElementById('hehe').onclick = function(){
                var Datenew = new Date();
                const mainadmin = document.getElementById('body-screen-msg');
                const timenow = Datenew.getHours() + ":" + Datenew.getMinutes();
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <b>HeHe</b> ra đời vào ngày 28 tháng 12 năm 2020.
                                    Tôi ở đây với nhiệm vụ trả lời những câu hỏi của bạn! 
                                    <small>`+timenow+`</small>
                                    `;
                                }, 1000)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                    bodyMsg.scrollTo(0,10000000000000);
                    setTimeout(()=>{
                        bodyMsg.scrollTo(0,10000000000000);
                    }, 1000)
                }
    {{/if}}
    enterMsg.addEventListener ("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            countEnter ++;
            const Daten = new Date();
            const timenow = Daten.getHours() + ":" + Daten.getMinutes();
                function newMsg(){
                    const main = document.getElementById('body-screen-msg');
                    if (main) {
                        const newMsg = document.createElement('div');
                            newMsg.classList.add('user-chat');
                            newMsg.innerHTML = `
                            <img src="/img/userchat.png" alt="User">
                            <span></span>`+enterMsg.value +`
                            <small>`+timenow+`</small>
                            `;
                        main.appendChild(newMsg);
                    }
                }
                newMsg();


{{!-- Feedback --}}
                const mainadmin = document.getElementById('body-screen-msg');
                const Steptime = 1000;
                const botfeed = enterMsg.value.toLowerCase();
                const Hour = Daten.getHours();

                if (botfeed.includes('hello')||botfeed.includes('chào')||enterMsg.value==='hi'){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                if (Hour >=0 && Hour < 10) {
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Chào buổi sáng {{name}}!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                } else if (Hour >=10 && Hour < 15) {
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Chào buổi trưa {{name}}!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                } else if (Hour >=15 && Hour < 19) {
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Chào buổi chiều {{name}}!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                } else {
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Chào buổi tối {{name}}!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                }
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                    setTimeout(()=>{
                        function newMsg() {
                            if (mainadmin) {
                                const newMsg2 = document.createElement('div');
                                    newMsg2.classList.add('admin-feed');
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        <div class="loading"></div>
                                    `;
                                    {{#if cast}}
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Bạn muốn tôi giúp gì không?
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                    {{else}}
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        <b>HeHe</b> thấy bạn chưa đăng nhập vào hệ thống <br>
                                        <a href="/login">ĐĂNG NHẬP NGAY</a> để trải nghiệm!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                    {{/if}}
                                mainadmin.appendChild(newMsg2);
                            }
                        }
                        newMsg();
                    }, Steptime)
                    setTimeout(()=>{
                        bodyMsg.scrollTo(0,10000000000000);
                    }, 2100)
                }
                else if (enterMsg.value === '!help'||enterMsg.value==='có'){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    Để xem giờ gõ lệnh: !time <br>
                                    Để xem ngày gõ lệnh: !date <br>
                                    Tôi cũng có thể trả lời bạn một số câu cơ bản về trang 
                                    <b class="text-danger"> Course Online </b> như: khóa học, học phí, tác giả,...
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('khóa học')){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    Hiện tại trên <b class="text-danger">Course Online</b>
                                    có <b>{{num}} khóa học</b> vào phần <a href="/course"> Khóa học</a> để bắt đầu học tập.
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('cuối kì')){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    Ngày kiểm tra cuối kì <b>backend</b> 22/02/2021!
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('haha')||botfeed.includes('hihi')){
                    function newMsg() {
                        if (mainadmin) {
                            var randomAnw =  Math.round(Math.random()*2);
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                if (randomAnw == 0){
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Tôi buồn cười đến thế à? 
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                } else if (randomAnw == 1) {
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Hahaha!!!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                } else {
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Nghiêm túc nào!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                }
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('học phí')){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    Tất cả các khóa học trên <b class="text-danger">Course Online</b> đều 
                                    <b class="text-primary">MIỄN PHÍ</b> hãy cùng nhau tiến bộ hơn!
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }
                
                else if (botfeed.includes('course online') || botfeed.includes('Course Online')){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <b class="text-danger">Course Online</b> viết nên bằng HTML-CSS, Javascript - phía front-end và 
                                    với nodejs - phía back-end.
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                } 

                else if (botfeed.includes('nodejs')){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <b>Nodejs</b> là một hệ thống phần mềm được thiết kế để viết các ứng dụng internet có khả năng mở rộng.
                                    Chương trình được viết bằng JavaScript.
                                    Wikipedia nói thế đấy <i class="bg-warning rounded-circle far fa-grin-beam"></i>
                                    tham gia khóa <a href="/courses/nodejs">Nodejs</a> ngay nào!
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('ngày sinh')&&botfeed.includes('bạn')||botfeed.includes('sinh nhật')){
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <b>HeHe</b> ra đời vào ngày 28 tháng 12 năm 2020.
                                    Tôi ở đây với nhiệm vụ trả lời những câu hỏi của bạn! 
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                } 

                else if (botfeed.includes('người tạo ra hehe')||botfeed.includes('ai')&&botfeed.includes('tạo ra bạn')||enterMsg.value=='tác giả') {
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    Người tạo ra tôi cũng như <b class="text-danger">Course Online</b> tên là Trần Duy Khánh!
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('mấy giờ')||enterMsg.value==='!time') {
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    Bây giờ là `+Daten.getHours()+` giờ `+ Daten.getMinutes()+` phút.
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('nay')&&botfeed.includes('ngày')||enterMsg.value==='!date') {
                    function newMsg() {
                        if (mainadmin) {
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                setTimeout(()=>{
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    Hôm nay là ngày `+ Daten.getDate() +` tháng `+ n +` năm `+ Daten.getFullYear() +`.
                                    <small>`+timenow+`</small>
                                    `;
                                }, Steptime)
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }

                else if (botfeed.includes('i love you')||botfeed.includes('yêu bạn')) {
                    function newMsg() {
                        if (mainadmin) {
                            var randomAnw =  Math.round(Math.random()*2);
                            const newMsg2 = document.createElement('div');
                                newMsg2.classList.add('admin-feed');
                                newMsg2.innerHTML = `
                                <img src="/img/bot.jpg" alt="HeHe">
                                    <span></span>
                                    <div class="loading"></div>
                                `;
                                if (randomAnw == 0){
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Me too! Hihi!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                }
                                else if (randomAnw == 1){
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Ối trời ơi xạo hoài!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                }
                                else {
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Tình yêu là gì? Có ăn được không?
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                }
                                
                            mainadmin.appendChild(newMsg2);
                        }
                    }
                    newMsg();
                }
                else {
                    if (countEnter == 1) {
                        function newMsg() {
                            if (mainadmin) {
                                const newMsg2 = document.createElement('div');
                                    newMsg2.classList.add('admin-feed');
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        <div class="loading"></div>
                                    `;
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Sử dụng lệnh !help để hiển thị danh sách các lệnh và cách giao tiếp với tôi!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                mainadmin.appendChild(newMsg2);
                            }
                        }
                        newMsg();
                    }

                    else if (enterMsg.value==='không') {
                        function newMsg() {
                            if (mainadmin) {
                                const newMsg2 = document.createElement('div');
                                    newMsg2.classList.add('admin-feed');
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        <div class="loading"></div>
                                    `;
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Không thì vô đây làm gì???
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                mainadmin.appendChild(newMsg2);
                            }
                        }
                        newMsg();
                    }

                    else if (countEnter > 10) {
                        function newMsg() {
                            if (mainadmin) {
                                const newMsg2 = document.createElement('div');
                                    newMsg2.classList.add('admin-feed');
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        <div class="loading"></div>
                                    `;
                                    setTimeout(()=>{
                                        newMsg2.innerHTML = `
                                        <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        Bạn có thể sử dụng lệnh !help để biết 1 số câu hỏi mà tôi có thể trả lời được!
                                        <small>`+timenow+`</small>
                                        `;
                                    }, Steptime)
                                mainadmin.appendChild(newMsg2);
                            }
                        }
                        newMsg();
                    }

                    else {
                        var randomAnw =  Math.round(Math.random()*2);
                        function newMsg() {
                            if (mainadmin) {
                                const newMsg2 = document.createElement('div');
                                    newMsg2.classList.add('admin-feed');
                                    newMsg2.innerHTML = `
                                    <img src="/img/bot.jpg" alt="HeHe">
                                        <span></span>
                                        <div class="loading"></div>
                                    `;
                                    if (randomAnw == 0) {
                                        setTimeout(()=>{
                                            newMsg2.innerHTML = `
                                            <img src="/img/bot.jpg" alt="HeHe">
                                            <span></span>
                                                Xin lỗi tôi không hiểu yêu cầu của bạn!
                                            <small>`+timenow+`</small>
                                            `;
                                        }, Steptime)
                                    } 
                                    else if (randomAnw == 1) {
                                        setTimeout(()=>{
                                            newMsg2.innerHTML = `
                                            <img src="/img/bot.jpg" alt="HeHe">
                                            <span></span>
                                                Nhỏ không học lớn làm Bot<br> :(
                                            <small>`+timenow+`</small>
                                            `;
                                        }, Steptime)
                                    }
                                    else {
                                        setTimeout(()=>{
                                            newMsg2.innerHTML = `
                                            <img src="/img/bot.jpg" alt="HeHe">
                                            <span></span>
                                                Xin lỗi tôi vẫn đang học, có thể tôi không hiểu những gì bạn vừa hỏi tôi!
                                            <small>`+timenow+`</small>
                                            `;
                                        }, Steptime)
                                    }
                                mainadmin.appendChild(newMsg2);
                            }
                        }
                        newMsg();
                    }
                }
            bodyMsg.scrollTo(0,10000000000000);
            setTimeout(()=>{
                bodyMsg.scrollTo(0,10000000000000);
            }, Steptime)
            enterMsg.value = ""; 
        }
    });

    Admin.onclick = function (){
        screenMsg.classList.remove('screen-msg-none');
        Admin.classList.add('msg-admin-2');
    }

    closeScreen.onclick = function (){
        screenMsg.classList.add('screen-msg-none');
        Admin.classList.remove('msg-admin-2');
        Admin.classList.add('msg-admin-3');
        setTimeout(()=>{
            Admin.classList.remove('msg-admin-3');
        }, 400)
    }
</script>

