            <div class="col-sm-3 show-video mt-5">
                <div><h3>Video bài học</h3></div>
                <div class="mt-5">
                <div class="lesson">
                    <a class="btn" style="text-align: left;" href="/courses/{{course.slug}}/{{course.videoId1}}">
                        <img src="http://demo637737.000webhostapp.com/img/play2.png" width="40px" alt="Play"><b> Bài 1: {{course.name}}</b> 
                    </a>
                </div>
                <div class="lesson">
                    <a class="btn" style="text-align: left;" href="/courses/{{course.slug}}/{{course.videoId2}}">
                        <img src="http://demo637737.000webhostapp.com/img/play2.png" width="40px" alt="Play"><b> Bài 2: {{course.name}}</b>
                    </a>
                </div>
                <div class="lesson">
                    <a class="btn" style="text-align: left;" href="/courses/{{course.slug}}/{{course.videoId3}}">
                        <img src="http://demo637737.000webhostapp.com/img/play2.png" width="40px" alt="Play"><b> Bài 3: {{course.name}}</b>
                    </a>
                </div>
                <div class="lesson">
                    <a class="btn" style="text-align: left;" href="/courses/{{course.slug}}/{{course.videoId4}}">
                        <img src="http://demo637737.000webhostapp.com/img/play2.png" width="40px" alt="Play"><b> Bài 4: {{course.name}}</b>
                    </a>
                </div>
                <div class="lesson">
                    <a class="btn" style="text-align: left;" href="/courses/{{course.slug}}/{{course.videoId5}}">
                        <img src="http://demo637737.000webhostapp.com/img/play2.png" width="40px" alt="Play"><b> Bài 5: {{course.name}}</b>
                    </a>
                </div>
                </div>        
            </div>