<div class="mt-4">
    <div class="background-home">
        {{> chatfb }}
        <div class="background-home__img-bg"></div>
        <div class="text__home_1"><b><p>Học lập trình với các khóa học chất lượng</p></b></div>
        <div class="text__home_2"><b>CỘNG ĐỒNG HỌC LẬP TRÌNH MIỄN PHÍ</b></div>
        <div class="main__btn___home">
            <div class="btn_home">
                <a class="btn btn-course-home btn__course__go" href="/course"><b>KHÓA HỌC</b></a>
            </div>
            <div class="btn_home">
                {{#if login}}
                {{else}}
                <a class="btn btn-course-home" href="/signup"><b>ĐĂNG KÝ</b></a>
                {{/if}} 
            </div>
        </div>
        <div class="container">
            <div class="img__home">
                <div class="img__home_items">
                    <img src="/img/icon/img-1.png" width="30%" alt="">
                    <div><p><b>Kiến thức cốt lõi</b></p></div> 
                </div>
                <div class="img__home_items">
                    <img src="/img/icon/img-2.png" width="30%" alt="">
                    <div><p><b>{{num}}+ khóa học</b></p></div> 
                </div>
                <div class="img__home_items">
                    <img src="/img/icon/img-3.png" width="30%" alt="">
                    <div><p><b>Học bất cứ đâu, bất cứ khi nào</b></p></div> 
                </div>
            </div> 
        </div>
    </div>
<div class="main__show_courses">
    <div class="title">Khóa học nổi bật</div>
    <div class="text-center">Những khóa học có số lượng học viên theo học nhiều nhất và có phản hồi tích cực nhất</div>
    <div class="__show__courses"></div>
    <div class="msg-payment"></div>
    <div class="title">
        <a href="/course" class="btn-show-more">Xem tất cả</a>
    </div>
</div>
<div class="pay-ments">
    <div class="option-pay">
        <div class="close-x">&times;</div>
        <div class="option-pay__title">
            Vui lòng chọn phương thức thanh toán
        </div>
    </div>
</div>
</div>
<div class="loader loading-page">
    <div class="loading-page__title">
        <img src="/img/icon/cnow-logo.png" alt="cnow-logo">
    </div>
</div>
<script>
    const bodyLoading = document.querySelector('.loader');
    let setLoad = sessionStorage.getItem('isLoad');
    if (!setLoad && setLoad <= 0 ) sessionStorage.setItem('isLoad', 0);
    const loading = {
        isLoad: Number(setLoad),
        handle: function() {
            if (this.isLoad < 1) {
                setTimeout(
                    function() {
                        bodyLoading.classList.remove('loading-page');
                    }, 1700)
                this.sumnumber()
            }else {
                bodyLoading.classList.remove('loading-page');
            }
        },
        sumnumber: function() {
                this.isLoad = this.isLoad+1;
                sessionStorage.setItem('isLoad', this.isLoad);
        },
        start: function() {
            this.handle()
        }
    }
    loading.start();

    const pay = document.querySelector('.pay-ments');
    const mainCourses = document.querySelector('.main__show_courses');
    const optionPay = document.querySelector('.option-pay');
    const btnClosePay = document.querySelector('.close-x');
    const viewRender = document.querySelector('.__show__courses');
    const renderCourse = {
        learning: '{{data.learning}}',
        coursesHot: [],
        coursesList: [
            {{#each courses}}
                {
                    id: '{{this._id}}',
                    nameCourse: '{{this.nameCourse}}',
                    price: Number({{this.priceCourse}}),
                    student: {{this.numberStudents}},
                    slug: '{{this.slug}}',
                    img: '{{this.img}}',
                    description: '{{this.description}}',
                },
            {{/each}}
        ],
        sortHot: function (){
            const _this = this;
            _this.coursesList.sort((a, b)=> {
                return b.student - a.student
            })
        },
        handle: {
            isRibbonFree(price) {
                if(price > 0) {
                    return `<div class="ribbon-course charge">Tính phí</div>`;
                }else {
                    return `<div class="ribbon-course free">Miễn phí</div>`;
                }
            },
            isBtnFree(price, slug, id) {
                if (renderCourse.learning.includes(slug)) {
                    return `<a class="btnJoin btn-learning" href="/courses/${slug}">Học tiếp</a>`
                }else {
                    {{#if collaborators}}
                        return `
                            <a class="btnJoin btn-learning" href="/courses/${slug}">Học tiếp</a>
                            `
                    {{else}}
                    if (price > 0) {
                        return `
                        <a class="btn-learn" href="/seemore/${slug}">Xem thêm</a>
                        {{#if login}}
                        <a class="btn-buy" href="/pay/cnow/${id}">Mua ngay</a>
                        {{else}}
                        <a href="/login" class="btn-buy">Mua ngay</a>
                        {{/if}}
                        `
                    }
                    else {
                        return `
                        <a class="btn-learn" href="/seemore/${slug}">Xem thêm</a>
                        <a class="btnJoin btn-learn bg-info" href="/courses/${slug}">Học ngay</a>
                        `
                    }
                    {{/if}}
                }
            },
            isFreePrice(price, slug) {
                if (renderCourse.learning.includes(slug)) {
                    return ``;
                }
                else {
                    if (price > 0) {
                        return `<div class="price">Giá khóa học: ${price}$</div>`;
                    }else{
                        return ``;
                    }
                }
            }
        },event: function() {
            const _this = this;
            {{#if login}}
            socket.on('user-learning', (data)=> {
                _this.learning = `${_this.learning}, ${data}`;
                _this.student = _this.student+1;
                _this.view();
            });
            {{/if}}
        },
        view: function() {
            const htmls = this.coursesList.map((data, index)=> {
                if (index<6) return `
                    <div class="__course">
                        <a href="/seemore/${data.slug}" class="img__course">
                            ${this.handle.isRibbonFree(data.price)}
                            <img src="${data.img}" alt="">
                            ${this.handle.isFreePrice(data.price, data.slug)}
                        </a>
                        <div class="info__course">
                            <div  class="name__course">
                                <h5>${data.nameCourse}</h5>
                            </div>
                            <div class="content__course">
                                ${data.description}
                            </div>
                            <div class="go_to__course">
                                <span class="num__member"><i class="fas fa-users"></i> ${data.student}</span>
                                <div class="learn btn__go_course">
                                    ${this.handle.isBtnFree(data.price, data.slug, data.id)}
                                </div>
                            </div>
                        </div>
                    </div>
                `
            });
            viewRender.innerHTML = htmls.join('');
        },
        start: function() {
            this.sortHot()
            this.view()
            this.event()
        }
    }
    renderCourse.start();

    const btnJoin = document.querySelectorAll('.btnJoin');
    const STORAGE_INDEX_VIDEO = 'video';
    const config = JSON.parse(localStorage.getItem(STORAGE_INDEX_VIDEO)) || {};
    function setConfig(index, value) {
            config[index] = value;
            localStorage.setItem(STORAGE_INDEX_VIDEO, JSON.stringify(config));
        }
    btnJoin.forEach(e=> {
        e.onclick = function() {
            setConfig('resetIndexVideo', false);
        }
    });
</script>
   
