<div class="view_show_main">
    <div class="tab_view">
        <div class="screen_video">
            <div class="name_video"></div>
            <div class="video_src">
                <div class="iframe_video" id="player" src=""></div>
            </div>
            <div class="comment">
                Course Online
            </div>
        </div>
        <div class="video_list-fake"></div>
        <div class="video_list">
            <div class="title_list">Danh sách bài học</div>
            <div class="list_lessons"></div>
        </div>
    </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>

    <script>
 
    const S = document.querySelector.bind(document);
    const SA = document.querySelectorAll.bind(document);

    const listLessons = S('.list_lessons');
    const ScreenYT = S('.video_src');
    const iframeVideo = S('.iframe_video');
    const lessonBtn = S('.video_list');
    const nameLesson = S('.name_video');    
    const STORAGE_INDEX_VIDEO = 'video';

    let IDvideo;
    let timeVideo = 0;

    const videoIframe = {
        indexFirst: 0,
        Progress: Number({{lesson.progress}}),
        videos: [
            {{#each course.idVideo}}
                
                { 
                    src: '{{this}}', 
                    namevideo: '{{lookup ../course.nameLesson @index}}',
                    timevideo: '{{lookup ../course.timeVideo @index}}',
                }
                ,
            {{/each}}
        ],
        config: JSON.parse(localStorage.getItem(STORAGE_INDEX_VIDEO)) || {},
        setConfig: function (index, value) {
            this.config[index] = value;
            localStorage.setItem(STORAGE_INDEX_VIDEO, JSON.stringify(this.config));
        },
        idvideo: function () {
            IDvideo = this.videos[this.indexFirst].src;
        },
        timevideo: function() {
            const setTimeOk = Number(this.videos[this.indexFirst].timevideo)/100*80;
            return setTimeOk;
        },
        events: function () {
            const _this = this;
            lessonBtn.onclick = function (e) {
                const lesson = e.target.closest('.lesson_item:not(.active)')

                if (lesson && e.target.closest('.lesson_item') ) {
                    if (lesson) {
                        _this.indexFirst = Number(lesson.dataset.index);
                        _this.setConfig('indexVideo', _this.indexFirst);
                        player.loadVideoById(_this.videos[_this.indexFirst].src);
                        socket.emit('start-count-time');
                        _this.idvideo();
                        _this.render();
                        _this.namevideo();
                    } 
                }     
            }

            socket.on('reset-view', (index)=>{
                _this.Progress = index;
                _this.render();
            })
        },
        namevideo: function () {
            nameLesson.innerHTML = 'Bài ' + this.videos[this.indexFirst].namevideo
        },
        render: function () {
            const htmlList = this.videos.map((lesson, index)=> { 
            if (index <= this.Progress) {
                return `<div class="lesson_item ${index === this.indexFirst ? 'active' : ''}" data-index="${index}">
                        <span class="playing"><i class="far fa-play-circle"></i></span>
                        <span class="pause"><i class="far fa-pause-circle"></i></span>
                        <div class="name_leson">Bài ${lesson.namevideo}</div> 
                    </div>`
            }
            else {
                return `<div class="lesson_item lock">
                        <span class="locked"><i class="fas fa-lock"></i></span>
                        <div class="name_leson">Bài ${lesson.namevideo}</div> 
                    </div>`
                }
            })
            listLessons.innerHTML = htmlList.join('');
        },
        start: function () {
            if (this.config.indexVideo >= 0) this.indexFirst = this.config.indexVideo;
            if ( this.indexFirst >= this.videos.length) this.indexFirst = 0;
            this.events();
            this.idvideo();
            this.render();
            this.namevideo();
        }            
    }
    videoIframe.start();
    var player, playing = false;
    function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        videoId: `${IDvideo}`,
        events: {
            'onStateChange': onPlayerStateChange
            }
        });
    }
    var myTime;

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
            const lessonPlaying = S('.list_lessons .active');
            lessonPlaying.classList.add('play');
            if(videoIframe.indexFirst === videoIframe.Progress) {
                socket.emit('start-count-time');
            }
            playing = true;
        }
        else if(event.data == YT.PlayerState.PAUSED){
            const lessonPlaying = S('.list_lessons .active');
            lessonPlaying.classList.remove('play');
            clearInterval(myTime);
            playing = false;
        }
    }
    socket.on('Resume-count-time', ()=>{
        if (videoIframe.Progress==videoIframe.indexFirst && videoIframe.Progress < videoIframe.videos.length ) {
            myTime = setInterval(()=>{
                timeVideo++;
                if (timeVideo >= videoIframe.timevideo()) {
                    socket.emit('Lesson-finished', [`{{lesson._id}}`, videoIframe.Progress])
                }
            }, 1000)
        }
    })

    socket.on('Stop-count-time',()=>{
        clearInterval(myTime);
    })
</script>

