<div class="main-seemore">
    <div class="list-lesson-seemore">
        <div class="list-lesson-seemore__title">
            Các bài học trong khóa {{course.nameCourse}}
        </div>
        <div class="list-lesson-seemore__info"></div>
        <div class="list-lesson-seemore__list"></div>
    </div>
    <div class="video-demo-seemore">
        <div class="video-demo-seemore__video"></div>
        <div class="video-demo-seemore__info"></div>
    </div>
    <div class="video-demo">
        <div class="close">&times;</div>
        <iframe id="iframe" width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="pay-ments">
        <div class="option-pay">
            <div class="close-x">&times;</div>
            <div class="option-pay__title">
                Vui lòng chọn phương thức thanh toán
            </div>
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <div class="msg-payment"></div>
    {{#if login}}
    {{else}}
    <div class="msg-login">
        <div class="title">Vui lòng đăng nhập</div>
        Bạn cần đăng nhập để tham gia các khóa học. Vui lòng <a href="/login" class="text-info">Đăng nhập</a> hoặc <a href="/signup" class="text-info">Đăng ký</a>
    </div>
    {{/if}}
</div>
<script type="text/javascript">
    const mainSeeMore = document.querySelector('.main-seemore');
    const infoLeson = document.querySelector('.list-lesson-seemore__info');
    const listVideo = document.querySelector('.list-lesson-seemore__list');
    const videoView = document.querySelector('.video-demo-seemore__info');
    const videoDemo = document.querySelector('.video-demo-seemore__video');
    const videoShow = document.querySelector('.video-demo');
    const btnClose = document.querySelector('.close');
    const iframeYt = document.querySelector('#iframe');
    const pay = document.querySelector('.pay-ments');
    const btnClosePay = document.querySelector('.close-x');
    const renderList = {
        learning: `{{user.learning}}`,
        listLesson: [
            {{#each course.nameLesson}}
                '{{this}}',
            {{/each}}
        ],
        timeLesson: [
            {{#each course.timeVideo}}
                {{this}},
            {{/each}}
        ],
        totalTime: function(time, curvalue) {
            const total = this.timeLesson.reduce((time, curvalue)=> {
                let total = time + curvalue;
                return total;
            })
            return total;
        },
        learnFree(price, option=1){
            if (option == 1) {
                if (price > 0) {
                    return `Học thử miễn phí!`;
                }
                else {
                    return `Video giới thiệu!`;
                }
            }
            if (option == 2) {
                if (price > 0) {
                    return `Giá khóa học : {{course.priceCourse}}$`;
                }
                else {
                    return `Khóa học miễn phí`;
                }
            }
            {{#if login}}
            if (option == 3) {
                {{#if collaborators}}
                    return `
                        <div class="btn-option center">
                        <a href="/courses/{{course.slug}}" class="btn btn-option__learn bg-danger">
                            Học tiếp
                        </a>
                    </div>`
                {{else}}
                if(this.learning.includes('{{course.slug}}')) {
                    return `
                    <div class="btn-option center">
                        <a href="/courses/{{course.slug}}" class="btn btn-option__learn bg-danger">
                            Học tiếp
                        </a>
                    </div>`
                }
                else {
                    if (price > 0) {
                        return `
                        <div class="btn-option center">
                            <a href="/pay/cnow/{{course._id}}" class="btn btn-option__buy">
                                Đăng ký ngay
                            </a>
                        </div>
                        `;
                    }
                    else {
                        return `
                        <div class="btn-option center">
                            <a href="/courses/{{course.slug}}" class="btn btn-option__learn">
                                Học ngay
                            </a>
                        </div>
                        `;
                    }
                }
                {{/if}}
            }
            {{/if}}
        },
        checkLearning: function(learning, status) {
            if (learning.includes(status)) {
                return `Bạn đã đăng ký khóa học`;
            }
            else {
                return `Bạn chưa đăng ký khóa học`;
            }
        },
        event: function() {
            const _this = this;

            videoDemo.onclick = ()=> {
                videoShow.style.display = 'block';
                iframeYt.src = 'https://www.youtube.com/embed/{{course.idVideo.[0]}}';
            }

            btnClose.onclick = () => {
                videoShow.style.display = 'none';
                iframeYt.src = ''
            }
        },
        view: function(){
            const _this = this;
            const htmls = this.listLesson.map((data, index)=> {
                return `
                    <div class="item">
                        <div class="name-lesson">Bài: ${data}</div> <div class="time-lesson">${new Date(this.timeLesson[index   ] * 1000).toISOString().substr(11, 8)}</div>
                    </div>
                `
            });
            listVideo.innerHTML = htmls.join('');

            const htmlInfo = 
                `
                    <div class="total-lesson"> Số bài học: ${_this.listLesson.length}</div>
                    <div class="total-time"> Tổng thời lượng: ${new Date(this.totalTime(this.timeLesson, 0) * 1000).toISOString().substr(11, 8)}</div>
                `
            infoLeson.innerHTML = htmlInfo;

            const htmlVideo = `
                <div class="status">
                    ${this.checkLearning(this.learning, `{{course.slug}}`)}
                </div>
                <div class="price">
                    ${this.learnFree(Number({{course.priceCourse}}), 2)}
                </div>
                    {{#if login}}
                    ${this.learnFree(Number({{course.priceCourse}}), 3)}
                    {{else}}
                    <div class="btn-option center">
                        <a href="/login" class="btn btn-option__learn">
                            Đăng nhập
                        </a>
                    </div>
                    {{/if}}
            `
            videoView.innerHTML = htmlVideo;

            const htmlDemo = `
                <img src="/{{course.img}}" alt="">
                <div class="text">${this.learnFree(Number({{course.priceCourse}}))}</div>
                <div class="play"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play-circle" class="svg-inline--fa fa-play-circle fa-w-16 CourseDetail_icon__2RurH" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path></svg></div>
            `
            videoDemo.innerHTML = htmlDemo;
        },
        start: function() {
            this.view()
            this.event()
        }
    }
    renderList.start();
</script>